.container {
  width: 60%;
  margin: 30px auto;
  padding: 25px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  font-family: Arial, sans-serif;
}

.progress-container{
  width: 100%;
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  margin-bottom: 20px;
}

.progress-bar{
  height: 100%;
  width: 0%;
  background: #4caf50;
  border-radius: 10px;
  transition: width0.3s ease;
}

#progressText{
  font-size: 16px;
  margin-bottom: 20px;

}

.blur {
  filter: blur(3px);
  color: gray;
  background-color: gray;
  pointer-events: none;
  width: 60%;
  transition: 0.7s;
}

.container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 25px;
  font-size: 28px;
}

.container p {
  font-weight: bold;
  margin-bottom: 5px;
  color: #444;
}

.container input {
  width: 100%;
  padding: 12px;
  font-size: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s ease;
}

/* .container input:focus {
  border-color: #6c63ff;
  box-shadow: 0px 0px 6px rgba(108, 99, 255, 0.5);
} */

.namess,
.cityiniformation,
.parent,
.phone {
  display: flex;
  gap: 15px;
}

.namess input,
.cityiniformation input,
.parent input,
.phone input {
  flex: 1;
}

#submitBtn {
  width: 100%;
  padding: 14px;
  background: white;
  color: black;
  border: 1px solid black;
  font-size: 17px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease;
}

#submitBtn:hover {
  background: #5952e3;
  transform: translateY(-3px);
}

.dropdown,
.birthDate,
.address,
.email {
  margin-top: 15px;
}

.phone input#country {
  max-width: 40%;
}


.borders1 {
  border: 5px solid #ff4d4d; 
  box-shadow: 0 0 9px rgba(255, 79, 79, 0.9); 
}

.borders2 {
  border: 2px solid #2ecc71; 
  box-shadow: 0px 0px 6px rgba(46, 204, 113, 0.6); 
}


@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  .namess,
  .cityiniformation,
  .parent,
  .phone {
    flex-direction: column;
  }

  .phone input#country {
    max-width: 100%;
  }
}
